
    {{>headers}}
    <style>
        .customer{
        padding: 20px;,
         background-color: darkslategrey;
       color: aliceblue;
        }
    </style>
   
   <section id="content">

  <div class="customer">
 <a href="/admin/addcustomer"> <button style="
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: background 0.3s ease;
    ">
    <i class="fa fa-user-plus"></i> Add New Customer
  </button></a>
</div>

   <div class="customer">

    <table class="table" >
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer PhoneNo</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
         
           {{#each customdetails}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.status}}</td>
                        
                        <td>

                        <a href="/admin/viewcustomer/{{this._id}}"><i class="fa-solid fa-eye"></i></a>


                       <a href="/admin/editcustomerget/{{this._id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                       
                       </a>
                       <form action="/admin/deletecustomer/{{this._id}}" method="POST">
                        <button type="submit"> <i class="fa-solid fa-trash"></i></button>
                       </form>
                        </td>
                    </tr>
                {{/each}}
        </tbody>
    </table>

   </div>

   </section>
{{!-- </body>
</html> --}}