
    {{>headers}}
    <style>
        .orders{
            padding: 20px;
        }
    </style>
    <section id="content">
    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <th>OrderID</th>
                  <th>CustomerName</th>
                  <td>Totalamount</td>
                    <th>CustomerEmail</th>
                    <th>PaymentMethod</th>
                    <th>PaymentStatus</th>
                    <th>status</th>
                    <th>OrderDate</th>
                    {{!-- <th>Actions</th> --}}
                </tr>

            </thead>
              {{#each allorders}}
              <tr>
                <td>{{this.orderId}}</td>
                <td>{{this.customerName}}</td>
                <td>{{this.totalAmount}}</td>
                <td>{{this.customerEmail}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.paymentStatus}}</td>
                <td>{{this.status}}</td>
                <td>{{formatLocalDateAMPM  this.orderDate}}</td>
              
               {{!-- <td> --}}
                {{!-- <a href="/admin/singleorder/{{this._id}}" >
                    <i class="fa-solid fa-eye"></i>
                </a> --}}
               {{!-- </td> --}}
                 </tr>
            <tbody>
                {{/each }}

        </table>
    </div>
    </section>
   
    {{>footer}}

